In [7]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import os
# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory
def checkEmptyData(df):
    missing_data=df.isnull()
    for column in missing_data.columns.values.tolist():
        print(column)
        print(missing_data[column].value_counts(),missing_data[column].dtype)
    return 0

def dataCleansing(df):
    print(df.columns)
    for column in df.columns:
        if(df[column].dtype=='int64' or df[column].dtype=='float64'):
            mean_column=df[column].mean()
            df[column].replace(np.nan,mean_column,inplace=True)
        elif(df[column].dtype=='object'):
            frequent=df1[column].value_counts().idxmax()
            df[column].replace(np.nan,frequent,inplace=True)
    return 0
def dataFrameManu(df):
    #print("data frame columns and typres")
    #print(df.columns,df.dtypes)
    #print("description about the data frame")
    #print(df.describe(include="all"))
    print(df.head(50))
    checkEmptyData(df)
    dataCleansing(df)
    checkEmptyData(df)
    print(df.head(50))
if __name__=="__main__":
    df1=pd.read_csv("../input/titanic/train.csv")
    df2=pd.read_csv("../input/titanic/test.csv")
    print("processing training set")
    dataFrameManu(df1)
    print("processing test set")
    dataFrameManu(df2)


# You can write up to 5GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

processing training set
    PassengerId  Survived  Pclass  \
0             1         0       3
1             2         1       1
2             3         1       3
3             4         1       1
4             5         0       3
5             6         0       3
6             7         0       1
7             8         0       3
8             9         1       3
9            10         1       2
10           11         1       3
11           12         1       1
12           13         0       3
13           14         0       3
14           15         0       3
15           16         1       2
16           17         0       3
17           18         1       2
18           19         0       3
19           20         1       3
20           21         0       2
21           22         1       2
22           23         1       3
23           24         1       1
24           25         0       3
25           26         1       3
26           27         0       3
27           28         0       1
28           29         1       3
29           30         0       3
30           31         0       1
31           32         1       1
32           33         1       3
33           34         0       2
34           35         0       1
35           36         0       1
36           37         1       3
37           38         0       3
38           39         0       3
39           40         1       3
40           41         0       3
41           42         0       2
42           43         0       3
43           44         1       2
44           45         1       3
45           46         0       3
46           47         0       3
47           48         1       3
48           49         0       3
49           50         0       3

                                                 Name     Sex   Age  SibSp  \
0                             Braund, Mr. Owen Harris    male  22.0      1
1   Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                              Heikkinen, Miss. Laina  female  26.0      0
3        Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                            Allen, Mr. William Henry    male  35.0      0
5                                    Moran, Mr. James    male   NaN      0
6                             McCarthy, Mr. Timothy J    male  54.0      0
7                      Palsson, Master. Gosta Leonard    male   2.0      3
8   Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0
9                 Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1
10                    Sandstrom, Miss. Marguerite Rut  female   4.0      1
11                           Bonnell, Miss. Elizabeth  female  58.0      0
12                     Saundercock, Mr. William Henry    male  20.0      0
13                        Andersson, Mr. Anders Johan    male  39.0      1
14               Vestrom, Miss. Hulda Amanda Adolfina  female  14.0      0
15                   Hewlett, Mrs. (Mary D Kingcome)   female  55.0      0
16                               Rice, Master. Eugene    male   2.0      4
17                       Williams, Mr. Charles Eugene    male   NaN      0
18  Vander Planke, Mrs. Julius (Emelia Maria Vande...  female  31.0      1
19                            Masselmani, Mrs. Fatima  female   NaN      0
20                               Fynney, Mr. Joseph J    male  35.0      0
21                              Beesley, Mr. Lawrence    male  34.0      0
22                        McGowan, Miss. Anna "Annie"  female  15.0      0
23                       Sloper, Mr. William Thompson    male  28.0      0
24                      Palsson, Miss. Torborg Danira  female   8.0      3
25  Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...  female  38.0      1
26                            Emir, Mr. Farred Chehab    male   NaN      0
27                     Fortune, Mr. Charles Alexander    male  19.0      3
28                      O'Dwyer, Miss. Ellen "Nellie"  female   NaN      0
29                                Todoroff, Mr. Lalio    male   NaN      0
30                           Uruchurtu, Don. Manuel E    male  40.0      0
31     Spencer, Mrs. William Augustus (Marie Eugenie)  female   NaN      1
32                           Glynn, Miss. Mary Agatha  female   NaN      0
33                              Wheadon, Mr. Edward H    male  66.0      0
34                            Meyer, Mr. Edgar Joseph    male  28.0      1
35                     Holverson, Mr. Alexander Oskar    male  42.0      1
36                                   Mamee, Mr. Hanna    male   NaN      0
37                           Cann, Mr. Ernest Charles    male  21.0      0
38                 Vander Planke, Miss. Augusta Maria  female  18.0      2
39                        Nicola-Yarred, Miss. Jamila  female  14.0      1
40     Ahlin, Mrs. Johan (Johanna Persdotter Larsson)  female  40.0      1
41  Turpin, Mrs. William John Robert (Dorothy Ann ...  female  27.0      1
42                                Kraeff, Mr. Theodor    male   NaN      0
43           Laroche, Miss. Simonne Marie Anne Andree  female   3.0      1
44                      Devaney, Miss. Margaret Delia  female  19.0      0
45                           Rogers, Mr. William John    male   NaN      0
46                                  Lennon, Mr. Denis    male   NaN      1
47                          O'Driscoll, Miss. Bridget  female   NaN      0
48                                Samaan, Mr. Youssef    male   NaN      2
49      Arnold-Franchi, Mrs. Josef (Josefine Franchi)  female  18.0      1

    Parch            Ticket      Fare        Cabin Embarked
0       0         A/5 21171    7.2500          NaN        S
1       0          PC 17599   71.2833          C85        C
2       0  STON/O2. 3101282    7.9250          NaN        S
3       0            113803   53.1000         C123        S
4       0            373450    8.0500          NaN        S
5       0            330877    8.4583          NaN        Q
6       0             17463   51.8625          E46        S
7       1            349909   21.0750          NaN        S
8       2            347742   11.1333          NaN        S
9       0            237736   30.0708          NaN        C
10      1           PP 9549   16.7000           G6        S
11      0            113783   26.5500         C103        S
12      0         A/5. 2151    8.0500          NaN        S
13      5            347082   31.2750          NaN        S
14      0            350406    7.8542          NaN        S
15      0            248706   16.0000          NaN        S
16      1            382652   29.1250          NaN        Q
17      0            244373   13.0000          NaN        S
18      0            345763   18.0000          NaN        S
19      0              2649    7.2250          NaN        C
20      0            239865   26.0000          NaN        S
21      0            248698   13.0000          D56        S
22      0            330923    8.0292          NaN        Q
23      0            113788   35.5000           A6        S
24      1            349909   21.0750          NaN        S
25      5            347077   31.3875          NaN        S
26      0              2631    7.2250          NaN        C
27      2             19950  263.0000  C23 C25 C27        S
28      0            330959    7.8792          NaN        Q
29      0            349216    7.8958          NaN        S
30      0          PC 17601   27.7208          NaN        C
31      0          PC 17569  146.5208          B78        C
32      0            335677    7.7500          NaN        Q
33      0        C.A. 24579   10.5000          NaN        S
34      0          PC 17604   82.1708          NaN        C
35      0            113789   52.0000          NaN        S
36      0              2677    7.2292          NaN        C
37      0        A./5. 2152    8.0500          NaN        S
38      0            345764   18.0000          NaN        S
39      0              2651   11.2417          NaN        C
40      0              7546    9.4750          NaN        S
41      0             11668   21.0000          NaN        S
42      0            349253    7.8958          NaN        C
43      2     SC/Paris 2123   41.5792          NaN        C
44      0            330958    7.8792          NaN        Q
45      0   S.C./A.4. 23567    8.0500          NaN        S
46      0            370371   15.5000          NaN        Q
47      0             14311    7.7500          NaN        Q
48      0              2662   21.6792          NaN        C
49      0            349237   17.8000          NaN        S
PassengerId
False    891
Name: PassengerId, dtype: int64 bool
Survived
False    891
Name: Survived, dtype: int64 bool
Pclass
False    891
Name: Pclass, dtype: int64 bool
Name
False    891
Name: Name, dtype: int64 bool
Sex
False    891
Name: Sex, dtype: int64 bool
Age
False    714
True     177
Name: Age, dtype: int64 bool
SibSp
False    891
Name: SibSp, dtype: int64 bool
Parch
False    891
Name: Parch, dtype: int64 bool
Ticket
False    891
Name: Ticket, dtype: int64 bool
Fare
False    891
Name: Fare, dtype: int64 bool
Cabin
True     687
False    204
Name: Cabin, dtype: int64 bool
Embarked
False    889
True       2
Name: Embarked, dtype: int64 bool
Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')
PassengerId
False    891
Name: PassengerId, dtype: int64 bool
Survived
False    891
Name: Survived, dtype: int64 bool
Pclass
False    891
Name: Pclass, dtype: int64 bool
Name
False    891
Name: Name, dtype: int64 bool
Sex
False    891
Name: Sex, dtype: int64 bool
Age
False    891
Name: Age, dtype: int64 bool
SibSp
False    891
Name: SibSp, dtype: int64 bool
Parch
False    891
Name: Parch, dtype: int64 bool
Ticket
False    891
Name: Ticket, dtype: int64 bool
Fare
False    891
Name: Fare, dtype: int64 bool
Cabin
False    891
Name: Cabin, dtype: int64 bool
Embarked
False    891
Name: Embarked, dtype: int64 bool
    PassengerId  Survived  Pclass  \
0             1         0       3
1             2         1       1
2             3         1       3
3             4         1       1
4             5         0       3
5             6         0       3
6             7         0       1
7             8         0       3
8             9         1       3
9            10         1       2
10           11         1       3
11           12         1       1
12           13         0       3
13           14         0       3
14           15         0       3
15           16         1       2
16           17         0       3
17           18         1       2
18           19         0       3
19           20         1       3
20           21         0       2
21           22         1       2
22           23         1       3
23           24         1       1
24           25         0       3
25           26         1       3
26           27         0       3
27           28         0       1
28           29         1       3
29           30         0       3
30           31         0       1
31           32         1       1
32           33         1       3
33           34         0       2
34           35         0       1
35           36         0       1
36           37         1       3
37           38         0       3
38           39         0       3
39           40         1       3
40           41         0       3
41           42         0       2
42           43         0       3
43           44         1       2
44           45         1       3
45           46         0       3
46           47         0       3
47           48         1       3
48           49         0       3
49           50         0       3

                                                 Name     Sex        Age  \
0                             Braund, Mr. Owen Harris    male  22.000000
1   Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.000000
2                              Heikkinen, Miss. Laina  female  26.000000
3        Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.000000
4                            Allen, Mr. William Henry    male  35.000000
5                                    Moran, Mr. James    male  29.699118
6                             McCarthy, Mr. Timothy J    male  54.000000
7                      Palsson, Master. Gosta Leonard    male   2.000000
8   Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.000000
9                 Nasser, Mrs. Nicholas (Adele Achem)  female  14.000000
10                    Sandstrom, Miss. Marguerite Rut  female   4.000000
11                           Bonnell, Miss. Elizabeth  female  58.000000
12                     Saundercock, Mr. William Henry    male  20.000000
13                        Andersson, Mr. Anders Johan    male  39.000000
14               Vestrom, Miss. Hulda Amanda Adolfina  female  14.000000
15                   Hewlett, Mrs. (Mary D Kingcome)   female  55.000000
16                               Rice, Master. Eugene    male   2.000000
17                       Williams, Mr. Charles Eugene    male  29.699118
18  Vander Planke, Mrs. Julius (Emelia Maria Vande...  female  31.000000
19                            Masselmani, Mrs. Fatima  female  29.699118
20                               Fynney, Mr. Joseph J    male  35.000000
21                              Beesley, Mr. Lawrence    male  34.000000
22                        McGowan, Miss. Anna "Annie"  female  15.000000
23                       Sloper, Mr. William Thompson    male  28.000000
24                      Palsson, Miss. Torborg Danira  female   8.000000
25  Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...  female  38.000000
26                            Emir, Mr. Farred Chehab    male  29.699118
27                     Fortune, Mr. Charles Alexander    male  19.000000
28                      O'Dwyer, Miss. Ellen "Nellie"  female  29.699118
29                                Todoroff, Mr. Lalio    male  29.699118
30                           Uruchurtu, Don. Manuel E    male  40.000000
31     Spencer, Mrs. William Augustus (Marie Eugenie)  female  29.699118
32                           Glynn, Miss. Mary Agatha  female  29.699118
33                              Wheadon, Mr. Edward H    male  66.000000
34                            Meyer, Mr. Edgar Joseph    male  28.000000
35                     Holverson, Mr. Alexander Oskar    male  42.000000
36                                   Mamee, Mr. Hanna    male  29.699118
37                           Cann, Mr. Ernest Charles    male  21.000000
38                 Vander Planke, Miss. Augusta Maria  female  18.000000
39                        Nicola-Yarred, Miss. Jamila  female  14.000000
40     Ahlin, Mrs. Johan (Johanna Persdotter Larsson)  female  40.000000
41  Turpin, Mrs. William John Robert (Dorothy Ann ...  female  27.000000
42                                Kraeff, Mr. Theodor    male  29.699118
43           Laroche, Miss. Simonne Marie Anne Andree  female   3.000000
44                      Devaney, Miss. Margaret Delia  female  19.000000
45                           Rogers, Mr. William John    male  29.699118
46                                  Lennon, Mr. Denis    male  29.699118
47                          O'Driscoll, Miss. Bridget  female  29.699118
48                                Samaan, Mr. Youssef    male  29.699118
49      Arnold-Franchi, Mrs. Josef (Josefine Franchi)  female  18.000000

    SibSp  Parch            Ticket      Fare        Cabin Embarked
0       1      0         A/5 21171    7.2500      B96 B98        S
1       1      0          PC 17599   71.2833          C85        C
2       0      0  STON/O2. 3101282    7.9250      B96 B98        S
3       1      0            113803   53.1000         C123        S
4       0      0            373450    8.0500      B96 B98        S
5       0      0            330877    8.4583      B96 B98        Q
6       0      0             17463   51.8625          E46        S
7       3      1            349909   21.0750      B96 B98        S
8       0      2            347742   11.1333      B96 B98        S
9       1      0            237736   30.0708      B96 B98        C
10      1      1           PP 9549   16.7000           G6        S
11      0      0            113783   26.5500         C103        S
12      0      0         A/5. 2151    8.0500      B96 B98        S
13      1      5            347082   31.2750      B96 B98        S
14      0      0            350406    7.8542      B96 B98        S
15      0      0            248706   16.0000      B96 B98        S
16      4      1            382652   29.1250      B96 B98        Q
17      0      0            244373   13.0000      B96 B98        S
18      1      0            345763   18.0000      B96 B98        S
19      0      0              2649    7.2250      B96 B98        C
20      0      0            239865   26.0000      B96 B98        S
21      0      0            248698   13.0000          D56        S
22      0      0            330923    8.0292      B96 B98        Q
23      0      0            113788   35.5000           A6        S
24      3      1            349909   21.0750      B96 B98        S
25      1      5            347077   31.3875      B96 B98        S
26      0      0              2631    7.2250      B96 B98        C
27      3      2             19950  263.0000  C23 C25 C27        S
28      0      0            330959    7.8792      B96 B98        Q
29      0      0            349216    7.8958      B96 B98        S
30      0      0          PC 17601   27.7208      B96 B98        C
31      1      0          PC 17569  146.5208          B78        C
32      0      0            335677    7.7500      B96 B98        Q
33      0      0        C.A. 24579   10.5000      B96 B98        S
34      1      0          PC 17604   82.1708      B96 B98        C
35      1      0            113789   52.0000      B96 B98        S
36      0      0              2677    7.2292      B96 B98        C
37      0      0        A./5. 2152    8.0500      B96 B98        S
38      2      0            345764   18.0000      B96 B98        S
39      1      0              2651   11.2417      B96 B98        C
40      1      0              7546    9.4750      B96 B98        S
41      1      0             11668   21.0000      B96 B98        S
42      0      0            349253    7.8958      B96 B98        C
43      1      2     SC/Paris 2123   41.5792      B96 B98        C
44      0      0            330958    7.8792      B96 B98        Q
45      0      0   S.C./A.4. 23567    8.0500      B96 B98        S
46      1      0            370371   15.5000      B96 B98        Q
47      0      0             14311    7.7500      B96 B98        Q
48      2      0              2662   21.6792      B96 B98        C
49      1      0            349237   17.8000      B96 B98        S
processing test set
    PassengerId  Pclass                                               Name  \
0           892       3                                   Kelly, Mr. James
1           893       3                   Wilkes, Mrs. James (Ellen Needs)
2           894       2                          Myles, Mr. Thomas Francis
3           895       3                                   Wirz, Mr. Albert
4           896       3       Hirvonen, Mrs. Alexander (Helga E Lindqvist)
5           897       3                         Svensson, Mr. Johan Cervin
6           898       3                               Connolly, Miss. Kate
7           899       2                       Caldwell, Mr. Albert Francis
8           900       3          Abrahim, Mrs. Joseph (Sophie Halaut Easu)
9           901       3                            Davies, Mr. John Samuel
10          902       3                                   Ilieff, Mr. Ylio
11          903       1                         Jones, Mr. Charles Cresson